.material-symbols-outlined {
  font-variation-settings: 'opsz' 24;

  &.size-20 {
    font-variation-settings: 'opsz' 20;
  }

  &.size-24 {
    font-variation-settings: 'opsz' 24;
  }

  &.size-40 {
    font-variation-settings: 'opsz' 40;
  }

  &.size-48 {
    font-variation-settings: 'opsz' 48;
  }
}
