@use '../style/mixins';

.NavRail {
  display: flex;
  gap: 12px;

  @media screen and (max-width: mixins.$breakpoint_compact_max) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    box-shadow: var(--elevation-2);
    padding-inline: 12px;
  }

  @media screen and (min-width: mixins.$breakpoint_medium_min) {
    flex-direction: column;
    width: 80px;
    height: 100%;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    padding: 12px;
  }

  > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: var(--shape-full);
    background-color: white;

    > img {
      width: 24px;
      height: auto;
    }
  }

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56px;
    height: 56px;
    gap: 4px;
    color: inherit;
    border-radius: var(--shape-extra-small);

    &:not([aria-current='page']) {
      @include mixins.state-layer;
    }

    > .indicator {
      display: flex;
      width: 100%;
      height: 32px;
      border-radius: var(--shape-large);
      color: var(--color-on-surface-variant);
      justify-content: center;
      align-items: center;
    }

    &[aria-current='page'] {
      > .indicator {
        background-color: var(--color-secondary-container);
        color: var(--color-on-secondary-container);
      }
    }
  }

  > [role='toolbar'] {
    flex: auto;
    display: flex;
    flex-direction: inherit;
    justify-content: flex-end;
    align-items: center;
  }
}
