@use '../style/mixins';

.Paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;

  > .pages {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: mixins.$breakpoint_compact_max) {
    flex-direction: column;
  }
}
